@font-face {
  font-family: title-font;
  src: adobe-caslon-pro, serif;
}

@font-face {
  font-family: subtitle-font;
  src: url("../fonts/HenriDidot.otf");
}

@font-face {
  font-family: main-font;
  src: url("../fonts/Montserrat-Light.ttf");
}

.single-item-container {
  margin-top: 15px;
  color: #323232;
  font-size: 0.9em;
}

.single-item-container .each-item-specification-value {
  font-weight: 800;
}

.single-item-container .item-top-container {
  padding: 5px;
  margin-bottom: 10px;
}

.single-item-container .item-top-container h3 {
  margin: 0;
  color: #a5b6c2;
  font-weight: 900;
  text-align: center;
  font-size: 1.3em;
}

.single-item-container .item-top-container h3 .item-top-container-value {
  width: 100%;
}

.single-item-container .item-top-container .img-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.single-item-container .item-top-container .img-description-container .img-no-update {
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.single-item-container .item-top-container .update-image-container .img-update {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120px;
  border-radius: 10px;
  margin: 10px;
}

.single-item-container .item-top-container .update-image-container .img-update .camera-click-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 0.7);
  height: 120px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.single-item-container .item-top-container .update-image-container .img-update .camera-click-container span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f5f1ed;
  background-color: #a5b6c2;
  width: 40%;
  height: 20%;
  border-radius: 10px;
}

.single-item-container .item-top-container .update-textarea {
  width: 100%;
  height: 80px;
  resize: none;
}

.single-item-container .prime-specifications {
  margin: 15px auto;
  text-align: center;
  width: 70%;
}

.single-item-container .prime-specifications .each-item-specification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-bottom: 1px solid #b9b4c1;
}

.single-item-container .prime-specifications .each-item-specification .each-item-specification-title {
  padding-right: 5px;
}

.single-item-container .prime-specifications .each-item-specification .each-item-specification-value {
  padding-left: 5px;
  color: #a5b6c2;
}

.single-item-container .prime-specifications .each-item-specification .quantity-update {
  width: 25%;
  text-align: center;
}

.single-item-container .prime-specifications .each-item-specification .price-quantity {
  text-align: center;
}

.single-item-container .prime-specifications .each-item-specification textarea {
  resize: none;
}

.single-item-container .item-specifications {
  margin: 30px auto;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.single-item-container .item-specifications .each-item-specification {
  padding: 5px;
}

.single-item-container .item-specifications .each-item-specification .each-item-specification-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #b9b4c1;
}

.single-item-container .item-specifications .each-item-specification .each-item-specification-value {
  color: #a5b6c2;
  margin: 5px auto;
  padding-top: 5px;
  text-align: center;
}

.single-item-container .item-specifications .update {
  width: 100%;
  text-align: center;
}

.single-item-container ::-webkit-input-placeholder {
  font-style: italic;
}

.single-item-container :-ms-input-placeholder {
  font-style: italic;
}

.single-item-container ::-ms-input-placeholder {
  font-style: italic;
}

.single-item-container ::placeholder {
  font-style: italic;
}

.update {
  font-family: main-font;
  font-weight: 800;
  border: none;
  font-size: 0.9em;
  color: #a5b6c2;
  border-radius: 5px;
  padding: 3px;
  outline: none;
}

.sign-input-container {
  position: relative;
  text-align: center;
}

.sign-input-container .strength-input,
.sign-input-container .age-input {
  position: absolute;
  background-color: white;
  font-weight: 800;
  color: #b9b4c1;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 10%;
}

.currency-size-sign-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 57%;
}

.currency-size-sign-input-container input {
  width: 55%;
}

.currency-size-sign-input-container select {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  color: #a5b6c2;
  border-radius: 5px;
  padding: 1px;
}

.input-highlight {
  border: 3px solid #a5b6c2;
}
/*# sourceMappingURL=SingleItem.css.map */