@import "variables.scss";

.help-container {
  width: 100%;
  height: 100%;
  padding: 10px 10px 60px 10px;
  h2 {
    text-align: center;
    margin: 10px auto;
    color: $color-blue;
  }
  .delete-user-container {
    margin: 30px auto;
    align-items: center;
    text-align: center;
    width: 70%;
    font-size: 0.9em;
    .buttons-delete-user {
      display: flex;
      justify-content: space-between;
      height: max-content;
    }
  }
}
